Source: ros-foxy-crane-plus-moveit-config
Section: misc
Priority: optional
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-lint-auto <!nocheck>, ros-foxy-ament-lint-common <!nocheck>, ros-foxy-moveit, ros-foxy-robot-state-publisher, ros-foxy-rviz2, ros-foxy-tf2-ros, ros-foxy-xacro, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-crane-plus-moveit-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-moveit, ros-foxy-robot-state-publisher, ros-foxy-rviz2, ros-foxy-tf2-ros, ros-foxy-xacro, ros-foxy-ros-workspace
Description: CRANE+V2 move_group config package
