Source: ros-foxy-crane-plus
Section: misc
Priority: optional
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ros-workspace
Homepage: https://rt-net.jp/products/cranev2/
Standards-Version: 3.9.2

Package: ros-foxy-crane-plus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-crane-plus-control, ros-foxy-crane-plus-description, ros-foxy-crane-plus-examples, ros-foxy-crane-plus-gazebo, ros-foxy-crane-plus-moveit-config, ros-foxy-ros-workspace
Description: ROS 2 package suite of CRANE+V2
